{% extends "base.html" %}
{% block content %}
{% include "nav.html" %}

<section id="addItem" class="section">
  <div class="section-content container">
    <div class="padding-none">
      <h2>Add Item</h2>
    </div>
    <form action="{{url_for('addItem')}}" method = "post" class="padding-top">
      <div class="form-group">
        <label for="name">Name:</label>
        <input type ="text" class="form-control" id="name" maxlength="250" name="name">
      </div>
      <div class="form-group">
        <label for="description">Description:</label>
        <textarea name="description" id="description" class="form-control" maxlength="250" rows="3"></textarea>
      </div>
      <div class="form-group">
        <label for="picture">Picture URL:</label>
        <input type ="url" class="form-control" id="picture" maxlength="250" name="picture" placeholder="http://www.example.com">
      </div>
      <div class="form-group">
        <label for="picture">Category:</label>
        <select name="category">
          {% for cat in categories %}
            <option value="{{cat.name}}">{{cat.name}}</option>
            }
          {% endfor %}
        </select>
      </div>
      <button type="submit" class="btn-sub btn-default" id="submit" value="submit">
        Create
      </button>
      <a href="{{url_for('showCatalog')}}" class="btn-sub">Cancel</a>
  	</form>
  </div>
</section>

{% endblock %}