<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Item Catalog</title>

	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css">
	<link rel="stylesheet" href="/static/style.css">
</head>
<body>
	<header class="header">
		<a href="/" class="header-title" style="text-decoration:none">
			<h1 class="title-text">
				Item Catalog App
			</h1>
		</a>
	</header>

	<div class="flash">
		{% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        	{% for message in messages %}
            <li> <strong>{{ message }}</strong> </li>
        	{% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
  </div>

	<div class="content">
		<div class="container">
			{% block content %}
			{% endblock %}
		</div>
	</div>
</body>
</html>