{% extends "base.html" %}
{% block content %}
{% include "nav.html" %}

<section id="showItem" class="section">
  <div class="container">
    <div class="row">
      <div class="categories-list">
        <h3 class="list-header">
          <span class="header-title">Categories</span>
        </h3>
	      <ul class="list-category">
	        <a href="{{url_for('showCategory', categoryName = categoryName)}}" style="text-decoration:none">
	          <li class="items-item">
	            <span class="cat-name">{{categoryName}}</span>
	          </li>
	        </a>
	      </ul>
      </div>
      <a href="{{url_for('editCategory', categoryName = categoryName)}}" class="btn-sub">Edit Category</a>
      <a href="{{url_for('deleteCategory', categoryName = categoryName)}}" class="btn-sub">Delete Category</a>

			<div class="items-list">
				<h3 class="list-header">
				  {% if count > 1 %}
						<span class="header-title">{{categoryName}} Items (<strong>{{count}}</strong> Items)</span>
				  {% else %}
				  	<span class="header-title">{{categoryName}} Items (<strong>{{count}}</strong> Item)</span>
				  {% endif %}
				</h3>
				<ul class="list-items">
					{% for item in items %}
						<a href="{{url_for('showItem', categoryName = item.category ,itemName = item.name )}}" style="text-decoration:none">
							<li class="items-item">
								<span class="item-name">{{item.name}}</span>
							</li>
						</a>
					{% endfor %}
				</ul>
			</div>
			<a href="{{url_for('addItem')}}" class="btn-sub">Add Item</a>
	  </div>
  </div>
</section>

{% endblock %}
