<header>
  <div class="nav-btn-group">
    <div align="left" style="float:left">  
      <a class="navbar-home" href="{{ url_for('showCatalog')}}" class="navbar-text navbar-margin-btn">
        <button type="button" class="btn btn-default navbar-btn">
          Home
        </button>
      </a>  
    </div>
    <div align="right">  
      <div class="navbar-login-logout">
        {%if 'username' not in session %}
          <a href="{{url_for('showLogin')}}" class="navbar-text navbar-margin-btn">
            <button type="button" class="btn btn-default navbar-btn">
              Login
            </button>
          </a>
        {% else %}
          <a href="{{url_for('disconnect')}}" class="navbar-text navbar-margin-btn">
            <button type="button" class="btn btn-default navbar-btn">
              Logout
            </button>
          </a>
        {% endif %}
      </div class="flash">
      {% with messages = get_flashed_messages() %}
         {% if messages %}
            <ul>
               {% for message in messages %}
               <li<{{ message }}</li>
               {% endfor %}
            </ul>
         {% endif %}
      {% endwith %}
    </div>
  </div>
</header>